{% extends 'layout.html' %}
{% block content %}
{% load static %}
<header class="row bg-black">
    <div class="col-md-4">
        <img src="{% static 'perfil.jpg' %}" alt="" width="375" height="400">
    </div>
    <div class="col-md-8 my-auto p-4">
        <h1>We Are <strong> Douglas Cevallos </strong></h1>
        <h3>Full stack web developer</h3>   
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pharetra risus risus. 
            Mauris blandit metus nulla, sit amet ornare elit commodo sed. Pellentesque luctus lacus non diam tempor hendrerit. In et mauris ac purus tincidunt tincidunt. Nam nisi urna, blandit nec imperdiet auctor, sodales vel lacus. Donec id dignissim ligula. Etiam tristique, enim id dapibus tempor, neque ipsum laoreet est, id interdum justo felis quis neque.

            Donec rutrum dolor vitae nibh luctus, eu accumsan ex dapibus. Cras sit amet est ante. Nulla dapibus enim dui, a semper elit blandit quis. Donec suscipit erat lorem. Nam sit amet dolor sed arcu imperdiet lobortis non sed dolor. Sed nibh nisi, dapibus quis varius id, semper vel enim. Nullam nisi tellus, faucibus vitae luctus eget, interdum in nisl.
            </p>
        <a class="btn btn-primary btn-lg rounded-0 my-3" href="{% static 'curriculum.pdf' %}" target="_blank">
            Download CV</a>
    </div>
</header>
<div class="row my-4 text-center">
    
    <h3>Proyectos</h3>
    <p>Cras non neque nec sem mollis blandit sit amet fermentum orci.</p>
    {% for project in projects %}

    <div class="col-md-4 p-4">
        <div class="card bg-black card-project text-light">
            <img src="{{project.image.url}}" alt="{{project.title}}" class="card-img-top" />
            
            <div class="card-body">
                
                <h2>{{project.title}}</h2>
                <p>{{project.description}}</p>
    
                
                {% if project.url %}
                    <a href="{{project.url}}" class="btn btn-light rounded-0 btn-sm" target="_blank">{{project.url}}</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}

{% endblock %}

</div>